.action__items {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.page-item .page-link {
    color:  #E30C18;
    font-weight: 500;
}

.page-item.active .page-link {
    background-color:  #E30C18 !important;
    border-color:  #E30C18 !important;
    box-shadow: none;
}


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}