#eye-addon{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 1px white;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    z-index: 0;
    color: #686868;
}
#eye-addon:hover{
    background-color: white;
}
#formPass{
    border-left: 1px solid #ced4da;
    border-right: 1px white;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
