.manager-user__heading {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
}

.manager-user__action {
}

.actions__wrapper {
    height: 55px;
}

.action__filter {
    max-width: 150px !important;
}

/*custom for form select*/
.form-select {
    background-image: url("../../assets/images/filter.png") !important;
    cursor: pointer;
}

.form-select:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.select {
    position: relative;
}

.select::after {
    content: '';
    top: 0;
    left: 120px;
    position: absolute;
    border: 1px solid #ced4da;
    height: 75%;
}
/*end custom for form select*/

.search-bar {
    position: relative;
    height: 100%;
}

.search-input {
    border: 1px #9CA2A7 solid !important;
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.search-button {
    width: 50px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}


