.userModal {
    padding: 1rem !important;
}

.modal-title {
    font-weight: 700 !important;
}

.popup__detail th {
    font-weight: normal;
}

.popup__detail > th {
    padding: 0 20px;
}

.popup__detail td {
    padding: 5px 20px;
}