.app-content {
    padding-top: 36px;
}

.category-list {
    list-style: none;
    padding-left: 0;
}

.category-item__link {
    display: block;
    background-color: var(--background-color);
    padding: 16px 32px;
    margin-bottom: 2px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.category-item__link:hover {
    background-color: #EB5B64;
    color: var(--white-color);
}

.selected {
    background-color: #EB5B64;
    color: var(--white-color);
}

